/*COLORS*/
:root {
    --wm-primary: #75E6DA;
    --wm-secondary: #05445E;
    --wm-white: #F5F5F5FF;
}

body {
    background-image: url(assets/wave.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0d98ba;
}

label {
    color: var(--wm-white);
}

.app-container {
    padding-top: 6rem;
}

.App {
    min-height: 100vh;
}

.search-box-form {
    background: var(--wm-secondary);
    border-radius: 5px;
    padding: 1rem;
    -webkit-box-shadow: 4px 6px 17px -4px rgba(61, 71, 166, 0.68);
    box-shadow: 4px 6px 17px -4px rgba(61, 71, 166, 0.68);
}

